{% load humanize %}
<div>
  <table class="pure-table pure-table-bordered" width="100%">
    <thead>
      <tr>
        <th>Created</th>
        <th>Assessor</th>
        <th>Question</th>
      </tr>
    </thead>
    <tbody>
      {% for o in object_list %}
        <tr valign="top">
          <td>
            {{ o.created|date:'d/m/Y H:i' }}
            <br>
            <small>
              ({{ o.created|naturaltime }})
            </small>
            <br>
            {{ o.user.get_full_name }}
            <small>
              ({{ o.user.username }})
            </small>
          </td>
          <td>
            {% if o.can_mark_complete %}
            <a href="{% url 'qanda.answer' o.pk %}?next={{ request.path }}">
              <i class="fa fa-edit"></i>
            {% endif %}
              {{ o.button_caption }}
              {% if o.mentor %}
                <br>
                by
                <span{% if user == o.mentor %} class="errorlist"{% endif %}>{{ o.mentor.get_full_name }}</span>
              {% endif %}
            {% if o.can_mark_complete %}
            </a>
            {% endif %}
            {% if o.mentor %}
              <small>
                ({{ o.mentor.username }})
              </small>
            {% endif %}
            {% if o.can_mark_complete %}
              <br>
              <br>
              <a href="{% url 'qanda.mark.complete' o.pk %}?next={{ request.path }}">
                <i class="fa fa-times"></i>
                Mark Complete
              </a>
            {% endif %}
          </td>
          <td>
            {% if o.is_completed %}
              Completed (<strong>{{ o.reason }}</strong>)
              <br>
            {% endif %}
            {% if o.category %}
              <strong>
                {{ o.category }}
              </strong>
              <br>
            {% endif %}
            {{ o.question|linebreaksbr }}
            {% if o.answer %}
              <br>
              <br>
              <i class="fa fa-bookmark-o"></i>
              <strong>Answer:</strong>
              {{ o.answer|linebreaksbr }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
