<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Q and A</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'qanda.list.unanswered' %}" class="pure-menu-link">
      <i class="fa fa-bookmark-o"></i>
      Unanswered
    </a>
  </div>
</div>
