{% extends "mail/base.html" %}

{% block sub_title %}
  Delete Mentor Notification
{% endblock sub_title %}

{% block sub_heading %}
  Delete Mentor Notification
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>Are you sure you would like to delete <strong>{{ object.email }}</strong>?</p>
      {% include '_form.html' with submit='Delete' %}
    </div>
  </div>
{% endblock content %}
