{% extends 'dash/base.html' %}

{% block sub_title %}
  Mark Complete
{% endblock sub_title %}

{% block sub_heading %}
  Mark Complete
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'qanda.list.unanswered' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                Unanswered Questions
                Pending Queries
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if object.category %}
        <strong>
          {{ object.category }}
        </strong>
        <br>
      {% endif %}
      Asked by
      <a href="{% url 'user.redirect.contact' object.user.pk %}">
        {{ object.user.get_full_name }}
      </a>
      <small>
        (<a href="mailto:{{ object.user.email }}" target="_blank" rel="noopener noreferrer">
          {{ object.user.email }}
        </a>)
      </small>
      on {{ object.created|date:'l d/m/Y H:i' }}:
      {% include '_form.html' with submit='Mark Complete...' %}
      <p>
        {{ object.question|linebreaksbr }}
      </p>
    </div>
  </div>
{% endblock content %}
