{% extends 'dash/base.html' %}

{% block title %}
  {% if unanswered %}
    Pending
  {% else %}
    All
  {% endif %}
  Queries
{% endblock title %}

{% block sub_heading %}
  {% if unanswered %}
    Pending
  {% else %}
    All
  {% endif %}
  Queries
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% if is_team_member_not_staff %}
          {% else %}
            <li class="pure-menu-item">
              <a href="{% url 'lms.dash' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
                LMS Homepage
              </a>
            </li>
          {% endif %}
          <li class="pure-menu-item">
            {% if unanswered %}
              <a href="{% url 'qanda.list' %}" class="pure-menu-link">
                <i class="fa fa-bookmark-o"></i>
                All Queries
              </a>
            {% else %}
              <a href="{% url 'qanda.list.unanswered' %}" class="pure-menu-link">
                <i class="fa fa-bookmark-o"></i>
                Pending Queries
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if object_list.count %}
        {% include 'qanda/_qanda_table.html' %}
      {% else %}
        <br>
        <i class="fa fa-info-circle"></i>
        There are no
        {% if unanswered %}
          unanswered
        {% endif %}
        questions.
        {% if unanswered %}
          <a href="{% url 'qanda.list' %}">
            Click here to see all questions...
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
