{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Example App
{% endblock sub_title %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'qanda.list.unanswered' %}" class="pure-menu-link">
              <i class="fa fa-bookmark-o"></i>
              Unanswered Questions
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'qanda.list' %}" class="pure-menu-link">
              <i class="fa fa-bookmark-o"></i>
              Q and A
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <h3>
        Questions
      </h3>
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% for category in categories %}
            <li class="pure-menu-item">
              <a href="{% url 'example.category.question.create' category.pk %}" class="pure-menu-link">
                <i class="fa fa-plus"></i>
                Create Question for '{{ category.name }}'
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
