{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Example App
{% endblock sub_title %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-dashboard"></i>
              Dashboard
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-cog"></i>
              Settings
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
