{% extends "dash/base.html" %}

{% block title %}
  LMS Home
{% endblock title %}

{% block sub_heading %}
  LMS Home
{% endblock sub_heading %}


{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'qanda.list.unanswered' %}" class="pure-menu-link">
              <i class="fa fa-bookmark-o"></i>
              Queries
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
